repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.5
  hooks:
    # Run the linter.
    - id: ruff-check
      # include python and pyi files (no ipynb)
      types_or: [ python, pyi ]
      # autofix if possible
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
      types_or: [ python, pyi ]

- repo: local
  hooks:
    - id: basedpyright
      name: basedpyright
      entry: uv run basedpyright
      language: system
      types: [ python ]
      pass_filenames: false
